body * {
  font-family:'Inter', sans-serif;
  direction: ltr;
}

body.arabic *:not(i) {
  font-family: "Rubik", sans-serif;
  direction: rtl;
}

.projects-swiper-container,
.gallery-swiper-container,
.home-about-swiper-container,
.reviews-swiper-container {
    direction: ltr; /* Ensure the direction is set for RTL */
}

body.arabic .projects-swiper-container,
body.arabic .gallery-swiper-container,
body.arabic .home-about-swiper-container,
body.arabic .reviews-swiper-container {
    direction: rtl; /* Ensure the direction is set for RTL */
}
body.arabic .swiper-slide{
  margin-right: 0px !important;
}
html,
body {
  scroll-behavior: smooth;
}

[x-cloak] {
  display: none;
}

.grid-indigo {
  background-image: radial-gradient(#5a67d8 2px, transparent 2px);
  background-size: 16px 16px;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.animate-gradient-text {
  background: linear-gradient(90deg, #FFB300, #FF7F50, #FF4500, #FF7F50, #FFB300);
  background-size: 300% 300%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientAnimation 5s ease-in-out infinite;
}
body .faq-btn{
  text-align: left;
}
body.arabic .faq-btn{
  text-align: right;
}